<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-toggle slot="end" (ionChange)="changeTheme($event)"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <ion-button color="success" expand="block" (click)="btnClick()">Welcome to LZS</ion-button>  
    
    <ion-button routerLink="/profile">Navigate Method 1</ion-button>

    <ion-button color="warning" (click)="navigateM2()">Navigate Method 2</ion-button>

    <ion-button color="dark" routerLink="/profile/{{ user_id }}">Navigate with Id {{ user_id }}</ion-button>
  </div>
</ion-content>
